<mat-card>
    <mat-card-content>
        <form>
            <mat-form-field>
                <input matInput [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}" placeholder="用户名"
                    required>
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" type="password"
                    placeholder="密码" required>
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="login()">登录</button>
        </form>
    </mat-card-content>
</mat-card>