<div>
    <app-cart [products]="cart_item"></app-cart>
</div>
<button (click)="push_item()">提交</button>
<div>
    <ul>
        <li *ngFor="let food of foods">
            id: <input [(ngModel)]="food.id">
            name: <input [(ngModel)]="food.name">
            <button (click)="add_item(food.id)">+</button> <button (click)="minus_item(food.id)">-</button> <br>
            cate: <input [(ngModel)]="food.cate">
            price: <input type="number" [(ngModel)]="food.price">
            stock: <input type="number" [(ngModel)]="food.stock"><br>
            sales: <input type="number" [(ngModel)]="food.sales">
            des: <input [(ngModel)]="food.des">
            img: <input type="url" [(ngModel)]="food.img"><br><br>
        </li>
    </ul>
</div>