<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Cafe</span>
    <span class="spacer"></span>
    <button mat-button routerLink="">菜单</button>
    <button mat-button routerLink="/login">登录</button>
    <button mat-button routerLink="/register">注册</button>
    <button mat-button routerLink="/history">历史订单</button>
    <button mat-button routerLink="/profile">个人资料</button>
    <button mat-button routerLink="/super/user">管理用户</button>
    <button mat-button routerLink="/super/food">管理餐品</button>
    <button mat-button routerLink="/super/order">管理订单</button>
    <button mat-button (click)="logout()">退出</button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>