<div>
    <ul>
        <li *ngFor="let i of ordres">
            id: <input [(ngModel)]="i.id">
            user: <input [(ngModel)]="i.user">
            date: <input type="datetime" [(ngModel)]="i.time">
            <button (click)="updateOrdre(i)">提交</button>
            <button (click)="deleteOrdre(i)">删除</button>
        </li>
    </ul>
</div>

<div>
    <ul>
        <li *ngFor="let i of ordrefoods">
            order-id: <input [(ngModel)]="i.id.ordre">
            food-id: <input [(ngModel)]="i.id.food">
            qty: <input type="number" [(ngModel)]="i.qty">
            <button (click)="updateOrdreFood(i)">提交</button>
            <button (click)="deleteOrdreFood(i)">删除</button>
        </li>
    </ul>
</div>