<div>
    <ul>
        <li *ngFor="let food of foods">
            id: <input [(ngModel)]="food.id">
            name: <input [(ngModel)]="food.name">
            <button (click)="update(food)">提交</button>
            <button (click)="delete(food)">删除</button> <br>
            cate: <input [(ngModel)]="food.cate">
            price: <input type="number" [(ngModel)]="food.price">
            stock: <input type="number" [(ngModel)]="food.stock"><br>
            sales: <input type="number" [(ngModel)]="food.sales">
            des: <input [(ngModel)]="food.des">
            img: <input type="url" [(ngModel)]="food.img"><br><br>
        </li>
        新增：
        <li>
            name: <input [(ngModel)]="empty.name">
            <button (click)="update(empty)">提交</button> <br>
            cate: <input [(ngModel)]="empty.cate">
            price: <input type="number" [(ngModel)]="empty.price">
            stock: <input type="number" [(ngModel)]="empty.stock"><br>
            sales: <input type="number" [(ngModel)]="empty.sales">
            des: <input [(ngModel)]="empty.des">
            img: <input type="url" [(ngModel)]="empty.img"><br><br>
        </li>
    </ul>
</div>